$primeryBgColor:#4e3440;
$TtxtColor:white;
$secondarBgColor:#bb7171;
$dataDivColor: #e6e7e9;
.contnetDiv{
    height: 42vh;
    margin-top: 20px;
    border: solid 2px $secondarBgColor;
    padding: 0px;
}
.divheader{
    height: 12%;
    // width: 50%;
    background-color: $secondarBgColor;
    padding:4px 10px 4px 10px;
    // margin-top: -15px;
}
.divheader > label{
    font-size: 18px;
    color: $TtxtColor;
    line-height: 100%;
    text-align: center
    
}
.addnewHere {
    height: 25px;
    width: 25px;
    border-radius: 5px !important;
    background-color: $primeryBgColor !important;
    float: right !important;
    color: $TtxtColor !important;
    text-align: center !important;
    padding: 0px !important;
}

.divBody{
    height: 88%;
    width: 100%;
    overflow-y:auto;
    padding: 10px 5px 5px 5px;
    // background-color: $primeryBgColor;
}
.dataDiv {
    padding: 5px; 
    background: $dataDivColor;
    float: left;
    width: 100%;
    // margin:2px;
}
.dataname{
    width: 70%;
    float: left;
}
.dataicon {
    width: 15%;
    float: right;
    text-align: center;
    cursor: pointer;
    
}
